<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module
    Id="PrestogresODBC"
    Version="$(var.VERSION)"
    Language="1033">

    <Package
      Id="B377DE98-00A9-41B7-9942-E1F72F87A908"
      Description="Prestogres ODBC Driver"
      Keywords="Prestogres, ODBC"
      Manufacturer="PostgreSQL Global Development Group and Sadayuki Furuhashi"
      InstallerVersion="150"
      Platform="x86"
      Languages="1033"
      SummaryCodepage="1252" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="BINDIR" Name=".">
        <Component Id="psqlodbc.files" Guid="00A1ACE3-B7C2-41b8-A1F1-DB565990DA4E">
          <!-- PostgreSQL -->
          <File Id="prestogres_odbc30a.dll" Name="prestogres_odbc30a.dll" Source="../MultibyteRelease/prestogres_odbc30a.dll" />
          <File Id="prestogres_odbc35w.dll" Name="prestogres_odbc35w.dll" Source="../Release/prestogres_odbc35w.dll" />
          <File Id="pgxalib.dll" Name="pgxalib.dll" Source="../Release/pgxalib.dll" />
          <File Id="pgenlist.dll" Name="pgenlist.dll" Source="../Release/pgenlist.dll" />
          <File Id="pgenlista.dll" Name="pgenlista.dll" Source="../MultibyteRelease/pgenlista.dll" />
<?if "$(var.LINKFILES)" != ""?>
          <File Id="libpq.dll" Name="libpq.dll" Source="$(var.LINKFILES)\libpq.dll" KeyPath="yes" />

          <!-- Gettext -->
          <File Id="libintl.dll" Name="libintl.dll" Source="$(var.LINKFILES)\libintl.dll" />

          <!-- SSL -->
          <File Id="libeay32.dll" Name="libeay32.dll" Source="$(var.LINKFILES)\libeay32.dll" />
          <File Id="ssleay32.dll" Name="ssleay32.dll" Source="$(var.LINKFILES)\ssleay32.dll" />
<?endif?>

          <!-- Note, installing the driver properly (IE, using ODBCDriver) has proven unreliable -->
          <!--       so we install the registry keys manually ourselves.                         -->
          <RegistryValue Id="prestogres_odbc30a.reg.1" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers" Name="Prestogres ANSI" Type="string" Value="Installed" />
          <RegistryValue Id="prestogres_odbc30a.reg.2" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres ANSI" Name="APILevel" Type="string" Value="1" />
          <RegistryValue Id="prestogres_odbc30a.reg.3" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres ANSI" Name="ConnectFunctions" Type="string" Value="YYN" />
          <RegistryValue Id="prestogres_odbc30a.reg.4" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres ANSI" Name="Driver" Type="string" Value="[#prestogres_odbc30a.dll]" />
          <RegistryValue Id="prestogres_odbc30a.reg.5" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres ANSI" Name="DriverODBCVer" Type="string" Value="03.00" />
          <RegistryValue Id="prestogres_odbc30a.reg.6" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres ANSI" Name="FileUsage" Type="string" Value="0" />
          <RegistryValue Id="prestogres_odbc30a.reg.7" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres ANSI" Name="Setup" Type="string" Value="[#prestogres_odbc30a.dll]" />
          <RegistryValue Id="prestogres_odbc30a.reg.8" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres ANSI" Name="SQLLevel" Type="string" Value="1" />
          <RegistryValue Id="prestogres_odbc30a.reg.9" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres ANSI" Name="UsageCount" Type="integer" Value="1" />

          <RegistryValue Id="prestogres_odbc35w.reg.1" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers" Name="Prestogres Unicode" Type="string" Value="Installed" />
          <RegistryValue Id="prestogres_odbc35w.reg.2" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres Unicode" Name="APILevel" Type="string" Value="1" />
          <RegistryValue Id="prestogres_odbc35w.reg.3" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres Unicode" Name="ConnectFunctions" Type="string" Value="YYN" />
          <RegistryValue Id="prestogres_odbc35w.reg.4" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres Unicode" Name="Driver" Type="string" Value="[#prestogres_odbc35w.dll]" />
          <RegistryValue Id="prestogres_odbc35w.reg.5" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres Unicode" Name="DriverODBCVer" Type="string" Value="03.51" />
          <RegistryValue Id="prestogres_odbc35w.reg.6" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres Unicode" Name="FileUsage" Type="string" Value="0" />
          <RegistryValue Id="prestogres_odbc35w.reg.7" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres Unicode" Name="Setup" Type="string" Value="[#prestogres_odbc35w.dll]" />
          <RegistryValue Id="prestogres_odbc35w.reg.8" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres Unicode" Name="SQLLevel" Type="string" Value="1" />
          <RegistryValue Id="prestogres_odbc35w.reg.9" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Prestogres Unicode" Name="UsageCount" Type="integer" Value="1" />
        </Component>
      </Directory>
    </Directory>

  </Module>
</Wix>
